**** PROPERTIES SKAFFOLDER ****
{
    "forEachObj": "oneTime",
    "_partials": []
}
**** END PROPERTIES SKAFFOLDER ****
<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Skaffolder - {{unslug project.name}}</title>
    <link rel="icon" href="https://www.skaffolder.com/img/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <app-{{lowercase project.name}}>
        <div style="margin:20px">
            Loading Web App {{unslug project.name}} ...
        </div>
    </app-{{lowercase project.name}}>
</body>

</html>